{% extends "layout.html" %}

{% block title %}
Create Item
{% endblock %}

{% block content %}
<div class="form-group row justify-content-center parallax">
<form action="" method="POST">
    <h1 class="display-4 text-primary"> Create an item </h1>
    {{form.hidden_tag()}}
    <p>
        <label class="control-label">  {{ form.product_name(class="rounded form-control",placeholder="Name")}}</label>
    </p>
    <p>
         <label class="control-label">  {{ form.description(class="rounded form-control",placeholder="Description")}}</label>
    </p>
    <p>
        <label class="control-label">  {{ form.price(class="rounded form-control",placeholder="Price")}}</label>
    </p>
    <p>
        <label class="control-label">  {{ form.quantity(class="rounded form-control",placeholder="Quantity")}}</label>
    </p>
    <p>
        {{ form.condition.label }}
        <label class="control-label">  {{ form.condition(class="btn btn-light dropdown-toggle",placeholder="Condition")}}</label>
    </p>
    <p>
        {{ form.category.label }}
        <label class="control-label">  {{ form.category(class="btn btn-light dropdown-toggle",placeholder="Category")}}</label>

    </p>
    <p>
        {{ form.submit(class="btn btn-primary") }}
    </p>
</form>
</div>
{% endblock %}