{% extends "layout.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}
<h1><p> {{ securityQuestion }}</p></h1>
<div class="form-group row justify-content-center parallax">
 <form action="" method="POST">
    {{ form.hidden_tag() }}
     <h1 class="display-4 text-primary"> Recovery </h1>
     <br>
      <div>
              <label class="control-label"> {{ form.email(class="rounded form-control",placeholder="E-mail")}}</label>
         {% for error in form.email.errors %}
         <p>{{ error }}</p>
         {% endfor %}
     </div>

     <br>
     <br>
     <div class="justify-content-center">
         {{ form.submit(class="btn btn-primary") }} <a class="btn btn-danger" href="index">Cancel</a>
     </div>

 </form>
</div>
{% for message in get_flashed_messages() %}
<p>Error: {{message}} </p>
{% endfor %}
{% endblock %}