{% extends "layout.html" %}

{% block title %}
Update Your Info
{% endblock %}

{% block content %}
<div class=" justify-content-center">
    <h1 class="display-4 text-primary text-center"> Update your info </h1>
    <h2 class="display-5 text-center"> Please re-enter or update your email address to confirm the changes </h2>
</div>
<div class="form-group row justify-content-center">
 <form action="" method="POST">
    {{ form.hidden_tag() }}
     <div>
         <label class="control-label">{{ form.firstname(class="rounded form-control",placeholder="First")}} </label>
         {% for error in form.firstname.errors %}
         <p>{{ error }}</p>
         {% endfor %}
     </div>
     <br>
     <div>
         <label class="control-label"> {{ form.lastname(class="rounded form-control",placeholder="Last")}} </label>
         {% for error in form.username.errors %}
         <p>{{ error }}</p>
         {% endfor %}
     </div>
     <br>
     <div>
          <label class="control-label"> {{ form.username(class="rounded form-control",placeholder="Username")}} </label>
         {% for error in form.username.errors %}
         <p>{{ error }}</p>
         {% endfor %}
     </div>
     <br>
     <div>
         <label class="control-label">  {{ form.password1(class="rounded form-control",placeholder="password")}}</label>
          {% for error in form.password1.errors %}
          <p>{{ error }}</p>
          {% endfor %}
     </div>
     <br>
     <div>
          <label class="control-label"> {{ form.password2(class="rounded form-control",placeholder="Confirm password")}}</label>
          {% for error in form.password2.errors %}
          <p>{{ error }}</p>
          {% endfor %}
     </div>
     <br>
     <div>
          <label class="control-label"> {{ form.securityQuestion(class="rounded form-control", placeholder="Security Question")}}</label>
          {% for error in form.securityQuestion.errors %}
          <p>{{ error }}</p>
          {% endfor %}
     </div>
     <br>
     <div>
          <label class="control-label"> {{ form.securityQuestionAnswer(class="rounded form-control",placeholder="Answer")}}</label>
          {% for error in form.password2.errors %}
          <p>{{ error }}</p>
          {% endfor %}
     </div>
     <br>
     <div>
         <label class="control-label"> {{ form.email(class="rounded form-control",placeholder="E-mail")}}</label>
         {% for error in form.email.errors %}
         <p>{{ error }}</p>
         {% endfor %}
     </div>
     <br>
     <div>
         {{ form.submit(class="btn btn-primary") }}
     </div>
 </form>
</div>


{% for message in get_flashed_messages() %}
<p>Error: {{message}} </p>
{% endfor %}
{% endblock %}